html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Helvetica, sans-serif;
}

header
{
    background-image: url(fonn.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
}

.logo
{
    font-size: 5em;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 700px;
}

.title
{
    font-size: 2.35em;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 550px;
}

.underTitle
{
    position: absolute;
    top: 350px;
    left: 680px;
    font-size: 1.6em;
}

.top
{
    position: absolute;
    font-size: 2em;
}

a.try1.top,
a.try2.top,
a.try3.top
{
    top: 500px;
    left: 250px;
    margin-top: -2
}

.main1,
.main2,
.main3,
.main2-5
{
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    font-size: 1.2em;
}

main
{
    background: #eee;
    overflow: hidden;
}

.main1 div,
.main2 div,
.main3 div
{
    width: 33%;
}

.main2
{
    padding-top: 100px;
    height: 230px;
    margin-bottom: -5px;
}

.main2,
footer,
.main3
{
    background-image: url(fon123.png);
    background-attachment: fixed;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
    overflow: hidden;
}

ul
{
    text-align: left;
}

.main1 .text1 ul
{
    margin-left: 90px;
}

.main1 .text2 ul
{
    margin-left: 15px;
}

.main1 .text3 ul
{
    margin-left: 70px;
}

.main1 div ul li
{
    margin-bottom: 10px;
}

.main2 div ul li,
.main2-5 div ul li
{
    list-style-type: none;
}

.iphone
{
    background-image: url(ip.png);
    background-repeat: no-repeat;
    background-size: 270px 500px;
    width: 350px;
    height: 500px;
    margin: 80px;
    margin-top: -5px;
}

.main2-5
{
    margin-bottom: -106px;
    margin-top: -6px;
    margin-right: 10px;
    padding-bottom: 0;
    font-size: 1em;
    color: #000;
    text-shadow: none;
}

.main2-5 div ul,
.main2 div ul
{
    text-align: center;
    margin-left: -30px;
}

.main2-5 div
{
    background: #eee;
    width: 282px;
    height: 150px;
    padding-top: 25px;
    padding-bottom: 0;
    z-index: 1;
    border-radius: 50%;
}

div div .map,
div div .table,
div div .zakaz
{
    position: absolute;
    background-size: 212px 100%;
    background-repeat: no-repeat;
    margin-top: 78px;
    margin-left: 33px;
    width: 212px;
    height: 350px;
}

.map
{
    background-image: url(index.png);
}

.table
{
    background-image: url(tables.jpg);
}

.zakaz
{
    background-image: url(zakaz.png);
}

.feedback
{
    padding: 50px;
    margin-left: 200px;
    padding-bottom: 60px;
}

.feedback div
{
    display: inline-flex;
    align-items: center;
}

.feed1,
.feed2
{
    width: 1100px;
    margin-bottom: 25px;
}

.feedback div div.text
{
    width: 50%;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-size: 1.2em;
}

footer
{
    margin-top: 100px;
    text-align: center;
    padding: 50px;
    font-size: 2em;
}

a.try1,
a.try2,
a.try3
{
    text-align: center;
    width: 160px;
    height: 50px;
    background-size: cover;
    border-radius: 7%;
    font-size: 2em;
    background-repeat: no-repeat;
    position: absolute;
}

a.try1
{
    margin-left: 400px;
    background-image: url('apple.png');
}

a.try2
{
    margin-left: 600px;
    background-image: url('google.png');
}

a.try3
{
    margin-left: 800px;
    background-image: url('windows.png');
    background-size: 167px 52px;
    background-position: -1px -1px;
}

img
{
    border-radius: 50%;
    border: 1px solid #555;
    width: 200px;
}

.feed2 img
{
    margin-right: 35px;
}

.feed1 img
{
    margin-left: 25px;
}
